*{
    box-sizing: border-box; /* ça bloque l'élement, le recentre et ça fait une marge*/
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
h1{
    font-size: 45px;
    color: white;
    margin-top: 50px;
    font-family: "Amatic SC, cursive";
    text-align: center;
    font-weight: 400;
}
h2{
    font-size: 50px;
    color: crimson;
    padding: 20px;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
}
h3{
    font-size: 22px;
    color: #2c3e50;
    padding: 15px;
}
h4{
    font-size: 20px;
    color:#2c3e50;
    margin-top: 30px;
    text-align: center; 
}
h5{
    font-size: 90px;
    color:purple;
    padding: 20px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-weight: bold;
}
blockquote{ /* indique que le texte contenu dans l'element est une citation longue*/
    font-style: italic;
    font-size: 120%;
}
strong{ /*indique que le texte a une importance particulière ou un certain serieux voir un caractère urgent*/
    font-weight: bold;
}
main{
    background: mistyrose;
    margin: 0 auto;
    width: 1000px;

}
aside{
    height: 300px;
    
    
}
section{
    margin-top: 50px;
    padding: 20px;
}
footer{
    background: mistyrose;
    height: 30px;
}
/*********************************HEADER*****************************************/

header{
    background-color: slategray; 
    height: 175px;
}
#logo{
    width: 25%;
    float: left;
    text-align: center;
    padding: 15px;

}
#slogan{
    width: 50%;
    float: left;
    padding: 20px;
}
#rs{
    width: 25%;
    float: left;
    padding: 20px;
}
#rs a{
    font-size: 30px;
    color: white;
    display: block;
    text-align: right;
    padding: 15px 30px 0 0;
    text-decoration: none;
}
#rs a:hover{
    font-size: 60px;
    transition: 2s;
}
/********************FIN HEADER*****************************/
/***********************NAV*********************************/

nav{
    background: mistyrose;
    border-bottom: 4px solid slategray;
    text-align: center;
    padding: 17px;
}
nav a{
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    border: 1px solid pink;
    padding: 6px 9px;
    border-radius: 7px;
    margin: 0px 6px;
}
nav a:hover{
    background: pink;
    transition: 2s;
}
.activ{
    background: pink;
}
.roboto p{
    font-family: 'Roboto Condensed', sans-serif;
}
.violet{
    color: purple;
}
.rouge{
    color: red;
}
.noir{
    color: black;
}
.vertf{
    color: rgb(12, 247, 12);
}

.marron{
    color: firebrick;
    font-weight: bold;
}
.noir span{
    color: blue;
}
.noir1{
    color: black;
}
.noir1 span{
    color:  rgb(12, 247, 12);
}


/*************IMAGE*************/
.imageFond{
    
    background: black url("../img/fond.jpg")no-repeat;
    background-size: cover;
}
.imageFond p{
    width:70% ;
    margin: 100px auto 200px auto;
    background: rgba(255, 255, 255, 0.60);
    padding: 20px;
    font-size: 120%;
    border-radius: 10px;
}
.imageTourEF{
    border: 5px solid black;
    box-shadow: 3px 3px 3px 3px  rgb(110, 109, 109);
    width: 260px;
    height: 385px;
    margin: 0 auto;
    padding-top: 1px;
    padding-left: 1px; 
}
/************TOUR EIFFEL  ( CORRECTION SANDRA)************/

/* img[src="img/toureiffel.jpg"]{
    margin: auto;
    width: 250px;
    display: block;
    border: 5px solid black;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);

} */

/*************************IMAGE PONT********************/

.clear{
    clear: both; 
 }
.imagePont1{
    width: 308px;
    height: 223px;
    float: left;
    margin-left:120px ;
    border: 4px solid white;
    box-shadow:5px 5px 15px rgba(0,0,0,1.5); 
    
}

.imagePont2{
    float: right;
    width: 308px;
    height: 223px;
    margin-right: 120px;
    border: 4px solid white;
    box-shadow:5px 5px 15px rgba(0,0,0,1.5); 
}
    
.imagePont3{
    width: 308px;
    margin: 0 auto;
    margin-top: 40px;
    height: 223px;
    border: 4px solid white;
    box-shadow:5px 5px 15px rgba(0,0,0,1.5); 
    
}
.pontH3{
    text-align: center;
    transition-duration: 1s;
}
.imagePont1:hover{
    transform : rotate(-40deg);
    transition-duration: 1s;
}
.imagePont2:hover{
    transform : rotate(40deg);
    transition-duration: 1s;
}
.imagePont3:hover{
    transform : rotate(-360deg);
    transition-duration: 1s;
}
/*******************Correction Sandra ( ROTATION IMAGES)*****************/

/* .rotationIMG{ image de type inline-block, elle comporte des marges par defaut. pour supprimer cette marge, ouvrir commentaire aprés 1ère photo et la fermer et la fermer avant 
    text-align: center;

}
.image{
    margin: 20px;
    border: 5px solid #eee;
    box-shadow: 12px 12px 6px 6px rgba(0,0,0,0.5);
    transition: 1s;
}
.image:hover{
    transform: rotate(7deg);
}
.rotation360{
    transform: rotate(-360deg);
} */

/********************PAGE LISTE********************/

ul.fruit{
    float: left;
    list-style: none;
}
ul.fruit li{
    display: inline-block;
    margin: 15px;
     
}
 li i{
    color: rgb(202, 26, 26);
    font-size: 80%;
}
.imbrique, .imbrique ul{
    padding-left: 15px;
    margin: 5px;
    cursor: pointer;
}
.asie, .eu{
    margin-top: 20px;
    list-style: none;
    font-size: 20px;
}
.asie ul li:hover{
    color: tomato;
    font-size: 30px;
    transition: 2s;
}
.asie span:hover{
    color: tomato;
    font-size: 30px;
    transition: 1s;
}
.eu span:hover{
    color: tomato;
    font-size: 30px;
    transition: 1s;

}
.eu ul li:hover{
    color: tomato;
    font-size: 30px;
    transition: 1s;
}
.asie span, .eu span{
    font-size: 25px;
    font-weight: bold;
}
.definition ol li{
    list-style: none;
}

/******************************LA PAGE TABLEAU****************************/
.tableau{
    border: 1px solid #2980b9;
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
}
.tableau thead, .tableau tfoot{
    background: #d0e3fa;
    
}
th{
    border: 1px solid #2980b9;
    width: 25%;
    padding: 4px;
}
td{
    border: 1px solid #6495ed;
    font-size: 100%;
    padding: 5px;
    text-align: center;
}
.sec{
    padding-bottom: 20px;
}

/**********************la page position*************/

.centre{
    width: 500px;
    height: 200px;
    margin: 0 auto;
    background: rgb(26, 196, 196);
    text-align: center;
    font-size: 50px;
    color: white;
    line-height: 180px;
    font-style: italic; 
}

.relative {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background: brown;
    position: relative;
    bottom: 50px;
    
}
.relative div{
    width: 50px;
    height: 50px;
    background: purple;
    position: absolute ;
    font-size: 10px;
    bottom: 10px;
}

                             /***********************LA PAGE ZONING******************/


                                /*************ZONNING1*************************/

#container{
    width: 800px; 
    margin-left: 100px;
    text-align: center;
}
.haut{
    width: 800px;
    height: 100px;
    background: rgb(209, 209, 130);
    margin:0 auto;
    text-align: center;
}
.zoneG{
    width:200px;
    height: 400px;
    text-align: center;
    background: rgb(82, 136, 82);
    float: left;
    
   
}
.zoneD{
    width:600px;
    height: 400px;
    text-align: center;
    background: rgb(52, 90, 90);
     margin-left: 200px; 
      
}
.imageZoning{
    height: 150px;
    width: 200px;
    margin: 100px auto ;
}
.imageZoning img{
    width: 100%;
    height: 200px;

}


/* #zoning1 .header{
    height: 80px;
    background-color: darkgray;

}
#zoning1 aside{
    width: 30%;
    height: 500px;
    background: purple;
    float: left;

}
#zoning1 section{
    width: 70%;
    height: 500px;
    background: lightblue;
    margin: 0 auto;
    padding: 0;
    float: left;

}  */

                             /***********************ZONING2*************************/

 #zoning2{
    margin: 0 auto;
    width: 600px;
    height: 600px;
    text-align: center;
}
#zoning2 .header{
    height: 100px;
    background-color: rgb(241, 238, 205);
}
#zoning2 .G{
    width: 25%;
    background-color: rgb(101, 119, 101);
    float: left;
    height: 500px;
    color: white;
}
#zoning2 .D{
    width: 25%; 
    background-color:  rgb(101, 119, 101) ;
    float: left;
    height: 500px;
    color: white;

}
#zoning2 .milieu{
width: 50%;
float: left;
background-color: rgb(90, 38, 38);
height: 500px;
color: white;
} 

                 /***************Correction sandra (ZONING2)****************/
/* #zoning2{
    background: yellow;
    width: 500px;
    text-align: center;
    text-shadow: 2px 2px 2px white;
}
#zoning2 .header{
    height: 70px;
    background: lightgreen;
}
#zoning2 aside{
    height: 525px;
    float: left;
    width: 20%;
    background: brown;
    color: white; 
}
#zoning .middle{
    float: left;
    background: gray;
    height: 525px;
    width: 60%;
    margin: ;
    color: white


} */
/******************ZONING3*****************/

#zoning3{
    margin: 0 auto;
    width: 800px;
    height: 600px;
    text-align: center;
    
}
#zoning3 .gauche{
    width: 50%;
    background-color: rgb(73, 49, 49);
    height: 450px;
    float: left;
    color: white;
}
#zoning3 .droite{
    width: 50%;
    background-color: rgb(63, 112, 63);
    height: 450px;
    float: left;
    color: white;
}
.footer{
    width: 100%;
    height: 80px;
    background-color: rgb(160, 218, 160);
}

                 /*****************Zoning4*******************/


#zoning4{
    width: 800px;
    border: 2px solid black;
    margin: 0 auto;
    text-align: center;
}
#zoning4 .header{
    width: 100%;
    background-color: #d2e4f1;
    height: 100px;

}
.navZoning4{
    width: 100%;
    height: 40px;
    background-color: rgb(68, 207, 189);
    color: black;
    margin: 0 auto;
    padding-top: 7px;  
    
}
#zoning4 .zoning4B{
    width: 100%;
    height: 10px;
    background-color: rgb(80, 107, 228);
}

#zoning4 .blanc{
    width: 100%;
    height: 700px;
    background-color: white;
    padding-top: 25px; 
 }

.sect1{
    width: 750px;
    height: 650px;
     background-color: grey ; 
    margin: 0 auto; 
}

#zoning4 .footer{
    background-color: brown;
}
.sect1 img{
    height: 640px;
    width: 100%;
    margin: 0 auto;
}
  /***********************ZONING5**********************/

  #zoning5{
    width: 800px;
    border: 2px solid black;
    margin: 0 auto;
    text-align: center;
}
#zoning5 .header{
    width: 100%;
    background-color: rgb(204, 204, 70);
    height: 100px;

}
.navZoning5{
    width: 100%;
    height: 40px;
    background-color:rgb(189, 136, 66);
    color: black;
    margin: 0 auto;
    padding-top: 7px;  
    
}
#zoning5 .zoneJ{
    width: 100%;
    height: 10px;
    background-color: rgb(133, 92, 6);
}

#zoning5 .blanc{
    width: 100%;
    height: 700px;
    background-color: white;
    padding-top: 25px; 
    padding-left: 25px;
    padding-right: 20px;
 }

.blanc .zone1{
    width: 50%;
    height: 320px;
    background-color: rgb(180, 123, 48) ; 
    margin: 0 auto; 
    float: left;
}
.blanc .zone2{
    width: 50%;
    height: 320px;
    background-color: rgb(204, 204, 70) ; 
    margin: 0 auto; 
    float: left;
 }
 .blanc .zone3{
    width: 50%;
    height: 320px;
    background-color:  rgb(204, 204, 70) ; 
    margin: 0 auto; 
    float: left;
 }
 .blanc .zone4{
    width: 50%;
    height: 320px;
    background-color:rgb(180, 123, 48)   ; 
    margin: 0 auto; 
    float: left;
 }
 .zone2 .img{
     width: 75%;
     height: 200px;
     margin: 0 auto;
     
 }
 .zone2 .img:hover{
     transform: scale(2);
 }
 

#zoning5 .footer{
    background-color: rgb(204, 204, 70) ;
}
.zone1 p{
    font-size: 25px;
    font-weight: bold;
    text-shadow: 4px 4px brown;
    color: blanchedalmond;
}
.zone1 p:hover{
    transform: scale(2);
}

/***********************Zoning6****************************/

#zoning6{
    width: 801px;
    
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}

#zoning6 .menu{
    width: 100%;
    height: 40px;
    background-color:rgb(189, 136, 66);
    color: black;
    margin: 0 auto;
    padding-top: 7px;  
}

#zoneDeGauche{
    width: 200px;
     height: 450px; 
    float: left;
    margin: 0 auto;
    background-color: rgb(173, 180, 173);
}
#zoneDeDroite{
    width: 599px;
    height: 450px;
    float: left;
    margin: 0 auto;
    padding: 0;
}
#zoning6 .footer{
    width: 100%;
    background-color: rgb(5, 153, 116);
    height: 100px;

}
.haut{
    width: 800px;
    height: 200px;
    margin: 0 auto; 
    padding: 0;
}
.H1, .H3{
    width: 25%;
    float: left;
    
    height: 200px;
    background-color: rgb(40, 102, 40);

}
.H2{
    width: 50%;
    float: left;
    
    height: 200px;
    background-color: rgb(133, 177, 133);
}
.A{
    float: left;
    width: 50%;
    height: 150px;
    background-color: rgb(128, 236, 236);
}
.B{
    float: left;
    width: 50%;
    height: 150px;
    background-color: rgb(94, 160, 160);
}
.slide{
    width: 100%;
    height: 150px;
    background-color: rgb(9, 107, 107);
}
.C{
    float: left;
    width: 25%;
    height: 150px;
    background-color: rgb(106, 150, 135);
}
.D{
    float: left;
    width: 25%;
    height: 150px;
    background-color: rgb(56, 150, 84);
}
.E{
    float: left;
    width: 25%;
    height: 150px;
    background-color: rgb(29, 121, 67);
}
.F{
    float: left;
    width: 25%;
    height: 150px;
    background-color: rgb(60, 170, 155);
}
