#container{
    height: 900px;
    width: 700px;
    margin: 0 auto;
    background: rgb(238, 195, 209);
  
}
body{
    
    height: 900px;
    width: 900px;
    margin: 0 ;
    background: aqua;
   
}
header{
    width: 800px;
    height: 70px;
   
}

.menu{
    width: 600px;
    height: 25px;
    list-style-type: none;
    display:block;
    border: 2px solid;  
    background: mintcream;
 float: left;
}
 li{
    display:block;
    float:left;   
    width:100px;
    background-color:#6495ED;
    color:black;
    text-decoration:none;
    text-align:center;
    padding:5px;
    border:2px solid;
    
    
}
ul{
    display:block;
    float:left;   
    width:100px;
    background-color:#6495ED;
    color:black;
    text-decoration:none;
    text-align:center;
    padding:5px;
    border:2px solid;
}
.contenu{
    background: ivory;
    margin-left: 10px;
    margin-right: 10px;
}

.zone de gauche{
    width: 400px;
    height: 400px;

}
.zone de droite{
    width: 400px;
    height: 400px;
}