header{
    height: 258px;
    width: 900px;
    margin:0;  
}
#conteneur{ 
    width: 900px;
    background: white;
    color: rgb(38, 194, 38);
    border: 1px solid;
    height: 950px;
}
.etape{
    width: 150px;
    height: 25px;
    
    background: rgb(149, 192, 84);
    border: 1px solid;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.menu{
    width: 60px;
    height: 25px;
    margin:0; 
    background: greenyellow;
  
} 
/* .zone de gauche{
    height: 398px;
    width: 60px;
   
} */