#container{
    width: 800px;
    margin: auto;
    text-align: center; 
    border: 3px solid rgb(124, 42, 42);
    background: pink;
    height: 830px;
    border-radius: 5%;
}
.zone droite{
    width: 150px;
    height: 650px;
    border: 2px solid pink;
    border-radius: 5%;
    
}
.zone milieu{
    width: 150px;
    height: 350px;
    border: 2px solid pink;
    border-radius: 5%;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

}
.clear{
    clear: both;
}